<%= render 'form' %>
<button type="button"><%= link_to 'Back', test_questions_path %></button>
<button type="button"><%= link_to 'Back to tests', tests_path %></button>
<button type="button"><%= link_to 'Back to test', test_path(@test)%></button>