<div class="container">
  <h1><%= t('.header') %></h1>

  <table class="table">
    <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><img src="<%= badge.picture %>" alt="no picture" height="32" width="32"/></td>
        <td><%= badge.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<%= link_to t('.new_badge'), new_admin_badge_path %>
</div>