<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
  <h2><%= @feedback_author_email %> left a feedback on test guru</h2>
  <p>
    <%= @feedback_message %>
  </p>
  </body>
</html>