<h1>Tests</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
  </tr>
  <% @tests.each do |t| %>
    <tr>
      <td><%= t.title %></td>
      <td><%= t.level %></td>
      <td><%= link_to 'Show', test_path(t.id) %></td>
    </tr>
  <% end %>
</table>