<div>
  <p>&copy; <%= current_year %> Dmitry Kachalov</p>
  <p><%= github_url('DmitryKachalov', 'TEST_GURU') %> - Сервис для создания и прохождения тестов</p>
  <br>
  <%= link_to 'Leave a feedback', new_feedback_url %>
  <br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', "http://thinknetica.com/", target: '_blank' %>
</div>